.carousel {
    height: 180px;
    width: 180px;
    position: relative;
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        img {
            max-width: 180px;
            max-height: 180px;
        }
    }
    &__item {
        display: none;
    }
    &__nav {
        position: absolute;
        top: 50%;
        height: 30px;
        width: 30px;
        margin-top: -15px;
        background: none rgba(0,0,0,0);
        border: none;
        color: @white;
        font-family: monospace;
        font-size: 23px;
        outline: none;
        &_prev {
            left: 0;
            &:before {
                content: '<';
            }
        }
        &_next {
            right: 0;
            &:before {
                content: '>';
            }
        }
    }
}
