//bootstrap
@import "bootstrap.less";
@import "variables_custom.less";
//blocks
@import "blocks/header.less";
@import "blocks/icon-burger.less";
@import "blocks/search-block.less";
@import "blocks/map-block.less";
@import "blocks/balloon.less";
@import "blocks/menu-1.less";
@import "blocks/menu-2.less";
@import "blocks/menu-3.less";
@import "blocks/sidebar.less";
@import "blocks/menu-sidebar.less";
@import "blocks/figure.less";
@import "blocks/footer.less";
//pages
@import "pages/landing.less";
//pluggins
@import "simplebar.less";
@import "carousel.less";
//responsive
@import "responsive.less";

body {
    background: @white;
}

.text-small {
    font-size: @font-size-small;
}
.text-base {
    font-size: @font-size-base;
}
.text-large {
    font-size: @font-size-large;
}
.text-white {
    color: @white;
}
.text-black {
    color: @black;
}
.text-gray {
    color: @gray;
}
.text-blue {
    color: @blue;
}
.text-sky {
    color: @sky;
}
.text-green {
    color: #35a45c;
}
.text-thin {
    font-weight: 100;
}
.text-light {
    font-weight: 300;
}
.text-regular {
    font-weight: 400;
}
.text-semibold {
    font-weight: 500;
}
.text-bold {
    font-weight: 600;
}
.text-italic {
    font-style: italic;
}


a,
.link {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.link-icon {
    cursor: pointer;
    &:hover {
        text-decoration: none;
        .link {
            text-decoration: underline;
        }
    }
}
.link-dotted {
    border-bottom: 1px dotted @blue;
    &:hover,
    &.active {
        text-decoration: none;
        color: @black;
        border-color: transparent;
    }
}
.link-underline {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
.link-white {
    color: @white;
    &:hover,
    &:active,
    &:focus,
    .link-icon:hover & {
        color: lighten(@white, 10%);
    }
    svg * {
        fill: lighten(@white, 10%);
    }
    &.active {
        color: @black !important;
        svg * {
            fill: @black;
        }
    }
}
.link-gray {
    color: @gray;
    &:hover,
    &:active,
    .link-icon:hover & {
        color: lighten(@gray, 10%);
    }
    svg * {
        fill: lighten(@gray, 10%);
    }
    &.active {
        color: @black !important;
        svg * {
            fill: @black;
        }
    }
}
.link-black {
    color: @black;
    &:hover,
    &:active,
    &:focus,
    .link-icon:hover & {
        color: lighten(@black, 10%);
    }
    svg * {
        fill: lighten(@black, 10%);
    }
}
.link-blue {
    color: @blue;
    &:hover,
    &:active,
    &:focus,
    .link-icon:hover & {
        color: lighten(@blue, 10%);
    }
    svg * {
        fill: lighten(@blue, 10%);
    }
    &.active {
        color: @black !important;
        svg * {
            fill: @black;
        }
    }
}
.link-sky {
    color: @sky;
    &:hover,
    &:active,
    &:focus,
    .link-icon:hover & {
        color: lighten(@sky, 10%);
    }
    svg * {
        fill: lighten(@sky, 10%);
    }
    &.active {
        color: @black !important;
        svg * {
            fill: @black;
        }
    }
}

.display-inline {
    display: inline;
}
.display-block {
    display: block;
}
.display-inline-block {
    display: inline-block;
}

.svg-img {
    vertical-align: middle;
}

[class*=col-] img {
    max-width: 100%;
}

.bubble-sms {
    background: #afd8f4;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
    border-radius: 100px;
    margin-bottom: 20px;
    font-size: 22px;
    &:after {
        content:'';
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: -15px;
        width: 24px;
        height: 24px;
        background: url(../img/bubble-sms-pin.png) top left no-repeat;
    }
}


.text {
    p {
        margin-bottom: 30px;
        font-weight: 300;
    }
    .lead {
        font-size: @font-size-large;
        margin-bottom: 50px;
        font-weight: 400;
    }
    h1,
    .h1 {
        font-size: @font-size-h1;
    }
    h2,
    .h2 {
        font-size: @font-size-h2;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    h3,
    .h3 {
        font-size: @font-size-h3;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    blockquote {
        border-left: 5px solid @blue;
        padding-left: 15px;
        margin-bottom: 30px;
        font-style: italic;
        font-weight: 300;
        font-size: @font-size-base;
    }
    b, strong {
        font-weight: 600;
    }
    ul, ol {
        margin-top: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        font-weight: 300;
        li {
            list-style-type: none;
        }
        ul, ol {
            margin-bottom: 0;
        }
    }
    ul {
        li {
            list-style-type: none;
            position: relative;
            &:before {
                content: '-';
                position: absolute;
                left: -15px;
            }
        }
    }
}
