@import "variables_custom.less";

@media (max-width: 540px) {
    .map-block__statistics-list-item .desc {
        font-size: 12px;
    }
    .map-block__statistics-list-item {
        vertical-align: top;
        float: none !important;
    }

    .menu-2__list-item,
    .menu-2__link {
        display: block;
        line-height: 3 !important;
        height: auto;
    }
    .menu-2__link:before,
    .menu-2__link:after {
        content: none !important;
    }


    .landing .footer {
        margin-top: 100px !important;
    }
    .footer {
        [class*=col-] {
            float: none !important;
            width: 100%;
            margin: 0;
        }
    }
}
@media (max-width: @screen-xs-max) {
    .header__logo-wrap {
        font-size: 9px;
    }
    .header__user-block {
        margin-top: 15px;
    }
    .menu-1 {
        display: none;
        padding-bottom: 15px;
    }
    .menu-1__list-item {
        display: block;
        float: none;
    }
    .menu-1__link {
        padding: 0;
        text-align: center;
        display: block;
        font-size: @font-size-large;
    }
    .menu-1__list-item:after {
        content: none;
    }

    .map-block__statistics-list-item {
        padding-right: 15px;
    }

    .menu-3__list-item {
        padding-right: 0;
        width: 25%;
        float: left;
        text-align: center;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background: @white;
        }
        &:last-child:after {
            content: none;
        }
    }
    .menu-3__link.active:after {
        margin-left: -11.5px;
    }

    .sidebar-wrap {
        float: none;
    }
    .sidebar__item.h1 {
        display: none;
    }
    .sidebar__tab {
        padding: 15px;
    }
    .sidebar__tab.active {
        //border: none;
    }
    .sidebar__tab.active:before,
    .sidebar__tab.active:after {
        content: none;
    }
    .tab-content {
        position: relative;
        margin-top: 30px;
        padding: 15px;
        border: 3px solid transparent;
        &.active {
            border-color: @sky;
            border-radius: 1px;
            &:before  {
                content: "";
                position: absolute;
                top: -15px;
                left: 50%;
                margin-left: -15px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 16.5px 15px 16.5px;
                border-color: transparent transparent @sky transparent;
            }
            &:after  {
                content: "";
                position: absolute;
                top: -11px;
                left: 50%;
                margin-left: -11px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 12.5px 11px 12.5px;
                border-color: transparent transparent @white transparent;
            }
        }
    }

    .footer__social-list {
        margin-top: 30px;
    }

    main {
        background: none !important;
    }
    body.landing {
        background: url(../img/bg-iphone.png) no-repeat bottom center @white;
    }
    .landing .footer {
        margin-top: 280px;
    }
    .landing .footer:after {
        content: none;
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .header__logo-wrap {
        font-size: 10px;
    }
    .menu-1__link {
        padding: 0 15px;
    }
    .header__phone-block {
        margin-top: 0;
    }
    .header__user-block {
        margin-top: 15px;
    }

    .menu-3__list-item {
        padding-right: 30px;
    }

    .map-block__statistics-list-item {
        padding-right: 50px;
    }
    main {
        background: none !important;
    }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    main {
        background: none !important;
    }
}

@media (min-width: @screen-lg-min) {
.landing .footer:after {
        right: 50%;
        margin-right: -590px;
    }
}
