@import "bootstrap-3.3.6/variables.less";

@black: #333333;
@white: #ffffff;
@gray: #808080;
@blue: #3a72be;
@sky: #75b5f3;

@container-large-desktop: 1070px;

@link-color: @blue;
@link-hover-color: lighten(@link-color, 10%);
@link-active-color: @link-color;

@font-size-base: 15px;
@line-height-base: 1.6;
@font-size-large: ceil((@font-size-base * 1.2)); // ~18px
@font-size-small: ceil((@font-size-base * 0.86)); // ~13px
@text-color: @black;
@font-family-base: "Segoe UI", "Helvetica Neue", Arial, Tahoma, "Liberation Sans", "Nimbus Sans L", sans-serif;
/*@font-family-base: Roboto, "Segoe UI", "Helvetica Neue", Arial, Tahoma, "Liberation Sans", "Nimbus Sans L", sans-serif;*/

@font-size-h1:            floor((@font-size-base * 2.93)); // ~44px
@font-size-h2:            floor((@font-size-base * 2.13)); // ~32px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px
@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.59;
@headings-color:          inherit;

@spacing-xs: 15px;
@spacing-sm: 30px;
@spacing-md: 50px;


