<div class="balloon">
    <figure class="figure">
        <div class="figure__img-wrap figure__img-wrap_card-carousel">
            <div class="carousel" data-carousel="{id}">
                <button onclick="myCarousel.prev();" class="carousel__nav carousel__nav_prev"></button>
                <button onclick="myCarousel.next();" class="carousel__nav carousel__nav_next"></button>
                <ul class="carousel__list">
                    <li class="carousel__item"><img src="//dummyimage.com/180x180/000/fff"></li>
                    <li class="carousel__item"><img src="//placehold.it/180x180"></li>
                    <li class="carousel__item"><img src="//placehold.it/180x180?text=test"></li>
                </ul>
            </div>
        </div>
        <div class="figure__text">
            <p>
                <span class="balloon__first-line h3 text-blue">Зона №110</span>
                <span class="text-small">{address}</span><br/>
            </p>
            <p>
                <span class="balloon__first-line text-gray text-light">30/31</span>
                <span class="text-green">мест свободно</span><br/>
            </p>
            <p>
                <span class="h4 text-gray text-bold">50 P&thinsp;/&thinsp;час</span>
            </p>

            <a href="" class="btn btn-primary">Оплатить парковку</a>
        </div>
    </figure>
</div>
