.balloon{
    padding: 5px;
    -webkit-filter: none;
    &__first-line {
        display: block;
        margin: 0;
        line-height: 1;
    }
    .figure {
        margin: 0;
        display: table;
    }
    .figure__img-wrap {
        padding-right: 0;
        margin-right: 15px;
        margin-bottom: 0;
        display: table-cell;
        vertical-align: top;
    }
    .figure__text {
        min-width: 150px;
        min-height: 1px;
        display: table-cell;
        vertical-align: top;
    }
}
