.figure {
    margin-bottom: 15px;
    &__img-wrap {
        overflow: hidden;
        margin: 0 0 10px;
        padding-right: 7.5px;
        float: left;
        width: auto;
        display: block;
    }
    &__text {
        margin: 0px 15px 0 0;
        overflow: hidden;
        display: block;
    }
}
