.footer {
    background: #323537;
    background: rgba(50,53,55,.95);
    color: @white;
    padding: 15px 0 30px;
    &__phone-block {

    }
    &__phone-number {
        line-height: 1;
    }
    &__phone-desc {

    }
    &__menu {

    }
    &__menu-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__menu-list-item {
        display: block;
        padding: 0 0 6px;
    }
    &__menu-link {

    }
    &__social-block {

    }
    &__social-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__social-item {
        display: inline-block;
        margin-right: 15px;
        a:hover {
            -webkit-filter: contrast(200%);
        }
        a:active {
            -webkit-filter: contrast(150%);
        }
    }
}
