.header {
    background: #fff;
    &__logo-wrap {
        display: inline-block;
        margin: 0;
        white-space: nowrap;

        //Note !!задает размер всего логотипа!!
        font-size: 15px;
    }
    &__logo-link {
        &,
        &:hover,
        &:focus,
        &:visited {
            color: #1A1A1A;
            text-decoration: none;
        }
    }
    &__logo {
        height: 5.3em;
        display: inline-block;
        vertical-align: middle;
    }
    &__name {
        display: inline-block;
        vertical-align: middle;
        padding-left: 1em;
    }
    &__name-top {
        display: block;
        font-size: 1.6em;
        line-height: 0.85;
        color: #666666;
        font-weight: 100;
    }
    &__name-bottom {
        display: block;
        font-size: 2.45em;
        line-height: 0.85;
        color: #1A1A1A;
        font-weight: 400;
    }

    &__phone-block {
        margin-top: 16px;
    }
    &__phone-desc {
        display: block;
        margin-bottom: -4px;
    }
    &__phone-number {
    }
    &__user-block {
        margin-top: 37px;
    }
}
.header-1 {
    background: url(../img/bg-menu.png) top center @blue;
    min-height: 50px;
    display: block;
}
.header-2 {}
