.icon-burger {
    @height: 21px;
    width: 26px;
    height: @height;
    position: relative;
    margin: 15px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    cursor: pointer;
    &__line {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: @white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        &_1 {
            top: @height / 3 * 0;
        }
        &_2 {
            top: @height / 3 * 1;
        }
        &_3 {
            top: @height / 3 * 2;
        }
        &_4 {
            top: @height / 3 * 3;
        }
    }
    &.active &__line {
        &_1 {
            top: @height / 3 * 2;
            width: 0%;
            left: 50%;
        }
        &_2 {
            top: @height / 3 * 2;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &_3 {
            top: @height / 3 * 2;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &_4 {
            top: @height / 3 * 1;
            width: 0%;
            left: 50%;
        }
    }
}
