.map-block {
    position: relative;
    &__menu {
        //position: absolute;
        //top: 0;
        //left: 0;
        width: 100%;
        min-height: 70px;
        background: #0867a8;
        background: rgba(8,103,168,.85);
        z-index: 5;
    }
    &__menu-item {
        min-height: 70px;
        line-height: 70px;
    }
    &__menu-link {
        min-height: 70px;
        line-height: 70px;
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
    }
    &__overlay {
        position: absolute;
        top: 0;
        bottom: 100%;
        right: 0;
        background: #f7f7f7;
        width: 30%;
        overflow: hidden;
        min-width: 300px;
        z-index: 30;
        &_filter {
            top: 0;
            bottom: 80px;
        }
        &_legend {
            top: 72px;
            bottom: 80px;
        }
        &_legend &-inner {
            top: 0;
        }

        input[type="checkbox"] {
            display:none;
        }
        input[type="checkbox"] + label {
            cursor:pointer;
            position: relative;
            padding-left: 23px;
        }
        input[type="checkbox"] + label:before {
            content:'';
            position: absolute;
            top: 4px;
            left: 0;
            width: 15px;
            height: 15px;
            border: 2px solid @gray;
        }
        input[type="checkbox"]:checked + label:before {
            background: @sky;
        }
        .radio-group {
            margin-bottom: 30px;
            &__item {
                position: relative;
                display: block;
                float: left;
                height: 30px;
                width: 23%;
                margin-right: 2%;
                input[type="radio"] {
                    display:none;
                }
                input[type="radio"] + label {
                    cursor:pointer;
                    position: relative;
                    padding-top: 25px;
                    width: 100%;
                    height: 44px;
                    font-size: 12px;
                    color: @black;
                    text-align: center;
                    font-weight: 300;
                }
                input[type="radio"] + label:after {
                    content:'';
                    position: absolute;
                    top: 20px;
                    left: 0;
                    width: 100%;
                    height: 5px;
                }
                input[type="radio"] + label:before {
                    content:'';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: -10px;
                    width: 0;
                    height: 0;
                }
                input[type="radio"]:checked + label:before {
                    border-style: solid;
                    border-width: 10px 7px 0 7px;
                    border-color: @blue transparent transparent transparent;
                }

                &_gray {
                    input[type="radio"] + label:after {
                        background: #808080;
                    }
                    /*input[type="radio"]:checked + label:before {
                        border-color: #808080 transparent transparent transparent;
                    }*/
                }
                &_green {
                    input[type="radio"] + label:after {
                        background: #27980A;
                    }
                    /*input[type="radio"]:checked + label:before {
                        border-color: #27980A transparent transparent transparent;
                    }*/
                }
                &_yellow {
                    input[type="radio"] + label:after {
                        background: #F89100;
                    }
                    /*input[type="radio"]:checked + label:before {
                        border-color: #F89100 transparent transparent transparent;
                    }*/
                }
                &_red {
                    input[type="radio"] + label:after {
                        background: #E81600;
                    }
                    /*input[type="radio"]:checked + label:before {
                        border-color: #E81600 transparent transparent transparent;
                    }*/
                }
            }
        }
    }
    &__overlay-title {
        position: absolute;
        top: 0;
        left: 20px;
    }
    &__overlay-inner {
        overflow: auto;
        position: absolute !important;
        top: 100px;
        bottom: 0;
        left: 40px;
        right: 20px;
    }
    &__overlay-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 70px;
        background: url(../img/icon-close.png) center center no-repeat;
        cursor: pointer;
    }
    &__parking-map {
        min-height: 440px;
        background: #f1f1ee;
        position: relative;
        #map {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
    &__statistics {
        min-height: 80px;
        position: relative;
        z-index: 10;
        &-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        &-list-item {
            display: inline-block;
            padding: 15px 100px 5px 0;
            &_last {
                padding: 0;
            }
            .count {
                color: @sky;
                font-size: 30px;
                line-height: 1;
                font-weight: 100;
                display: block;
            }
            .count_time {
                color: @black;
            }
            .desc {
                display: block;
                line-height: 2;
            }
        }
        &-link {
            height: 80px;
            line-height: 80px;
            display: block;
            font-size: 16px;
            font-weight: 600;
        }
    }
}
