.menu-2 {
    min-height: 70px;
    background: #afd8f4;
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__list-item {
        display: inline-block;
        padding: 0 50px 0 0;
    }
    &__link {
        height: 70px;
        line-height: 70px;
        display: block;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        &.active{
            &,
            &:hover .link,
            .link:hover {
                text-decoration: none !important;
                cursor: default;
            }
            &:after {
                content: ' ';
                position: absolute;
                top: 100%;
                left: 50%;
                //margin-left: -11.5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 11.5px 0 11.5px;
                border-color: #afd8f4 transparent transparent transparent;

            }
        }
    }
}
