.menu-1 {
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__list-item {
        display: block;
        float: left;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 26px;
            margin-top: -13px;
            background: rgba(240,240,240,.33);
        }
        &:last-child:after {
            content: none;
        }
    }
    &__list-item:first-child &__link, {
        padding-left: 0;
    }
    &__list-item:last-child &__link, {
        padding-right: 0;
    }
    &__link {
        display: inline-block;
        line-height: 50px;
        height: 50px;
        padding: 0 30px;
        //opacity: .9;
        &.active,
        &.link-white.active {
            background: @white;
            padding-left: 30px !important;
            padding-right: 30px !important;
            //font-weight: 600;
            //color: @white !important;
            //opacity: 1;
        }
    }
}
