.menu-sidebar {
    margin-bottom: 15px;
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__item {
        display: block;
        margin-bottom: 3px;
    }
    &__link {
        &.active {
            color: @black;
        }
    }
}
