.search-block {
    position: relative;
    width: 100%;
    margin: 15px 0;
    &__submit {
        position: absolute;
        top: 0;
        left: 0;
        height: 37px;
        width: 60px;
        padding: 0;
        border: none;
        background: url(../img/search.svg) no-repeat 20px center transparent;
        z-index: 1;
        outline: none;
        &:hover {
             -webkit-filter: brightness(90%);
        }
        &:active {
             -webkit-filter: brightness(80%);
        }
    }
    &__input {
        background: #afd8f4;
        background: rgba(255,255,255,.1);
        border: none;
        color: @white;
        font-size: 20px;
        font-weight: 100;
        height: 37px;
        width: 100%;
        padding: 6px 10px 8px 70px;
        outline: none;
    }
}
