.sidebar {
    &-wrap {
        float: right;
    }
    &__item {
        //margin-bottom: 30px;
    }
    &__tab {
        padding: 20px 20px;
        border: 3px solid transparent;
        position: relative;
        cursor: pointer;
        display: block;
        &:link,
        &:hover,
        &:focus,
        &:active,
        &:visited {
            text-decoration: none;
            color: @black;
        }

        &.active {
            border-color: @sky;
            border-radius: 1px;
            &:before  {
                content: "";
                position: absolute;
                top: 20px;
                left: -15px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 16.5px 15px 16.5px 0;
                border-color: transparent @sky transparent transparent;
            }
            &:after  {
                content: "";
                position: absolute;
                top: 24px;
                left: -11px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 12.5px 11px 12.5px 0;
                border-color: transparent @white transparent transparent;
            }
        }
    }
}
