body.landing {
    background: url(../img/bg-landing.jpg) no-repeat bottom center @white;
}
.landing {
    .footer {
        margin-top: 180px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 5%;
            width: 495px;
            height: 567px;
            background: url(../img/bg-iphone.png) no-repeat top center;
            z-index: -1;
        }
    }
    .bg-corner {
        background: url(/libs/img/bg-corner.png) no-repeat right top;
    }
    .bg-top-shadow {
        box-shadow: 0 71px 70px -40px rgba(0,0,0,.05) inset;
    }
}

.app-btn {
    display: inline-block;
    background: @blue;
    padding: 0 5px;
    border-radius: 10px;
    &:hover {
        background:@link-hover-color;
    }
    &:active {
        background: @link-active-color;
    }
}
